@font-face {
  font-family: "SevenSegmentBold";
  src: url("/static/fonts/DSEG7Classic-Bold.ttf");
}

@font-face {
  font-family: "sport";
  src: url("/static/fonts/octin sports rg.otf");
}


body {
  margin: 0;
  background-color: #FAFAFA;
  color: #020202;
  font-family: "SevenSegmentBold";
}

.header {
  background-color: #020202;
  margin: 0;
  padding: 1rem;
  text-align: center;
}