@font-face {
  font-family: "7S Bold";
  src: url("../../src/assets/fonts/DSEG7-Classic/DSEG7Classic-Bold.woff") format('woff');
}

body {
  margin: 0;
  background-color: #FAFAFA;
  color: #020202;
}

.header {
  background-color: #020202;
  margin: 0;
  padding: 1rem;
  text-align: center;
}